body {
  font-family: 'Poppins', sans-serif;
}
.cyan {
  color: #00ffff;
}
.text-cyan {
  color: #00ffff !important;
}
.navbar-brand img {
  width: 75px;
  height: 75px;
}
.hero-image img {
  max-width: 80%;
  border-radius: 10px;
}
.object-fit-cover {
  object-fit: cover;
}
.bg-secondary {
  background-color: #333 !important;
}
.portfolio-card {
    border: 1px solid whitesmoke;
    border-radius: 10px;
}
.form-control{
  background: none;
  outline: none;
  color: #fff;
}