body {
  font-family: 'Poppins', sans-serif;
}
.cyan {
  color: #00ffff;
}
.text-cyan {
  color: #00ffff !important;
}
.navbar-brand img {
  width: 75px;
  height: 75px;
}
.photo-frame {
  max-width: 300px;
  border: 2px solid #555;
}
.object-fit-cover {
  object-fit: cover;
}
.bg-secondary {
  background-color: #333 !important;
}
form.bg-secondary {
  background-color: #333 !important;
}
